{% extends 'base.html' %}

{% block content %}
<input
    type="hidden"
    id="csrf-token"
    value="{{ csrf_token }}"
>
<div class="flex h-[85vh] bg-slate-800 rounded-2xl overflow-hidden">

    <!-- Sidebar -->

    <div class="w-80 bg-slate-900 border-r border-slate-700 flex flex-col">
        <div class="p-4 border-b border-slate-700">
            <a
                href="/chat/new/"
                class="block w-full bg-blue-600 hover:bg-blue-700 text-center py-3 rounded-xl font-semibold"
            >
                + New Chat
            </a>
        </div>

        <div class="flex-1 overflow-y-auto p-4 space-y-3">

            {% for conversation in conversations %}

                <div class="bg-slate-800 rounded-xl p-3">

                    <a
                        href="/chat/{{ conversation.id }}/"
                        class="block font-medium truncate"
                    >
                        <span class="conversation-title" id="conversation-title-{{ conversation.id }}">
                            {{ conversation.title }}
                        </span>
                    </a>
                    
                    <div class="mt-2">
                        <button
                            class="rename-btn text-gray-400 hover:text-white ml-2"
                            data-id="{{ conversation.id }}"
                            data-title="{{ conversation.title }}"
                        >
                            Rename✏
                        </button>
                        <a
                            href="/chat/{{ conversation.id }}/delete/"
                            class="text-red-400 text-sm"
                        >
                            Delete
                        </a>
                    </div>
                </div>

            {% endfor %}

        </div>

    </div>

    <!-- Main Chat -->

    <div class="flex-1 flex flex-col">

        {% if active_conversation %}

            <div
                id="chat-box"
                class="flex-1 overflow-y-auto p-6 space-y-6"
            >
                {% if messages %}

                    {% for message in messages %}

                        <div class="flex justify-end">

                            <div class="bg-blue-600 p-4 rounded-2xl max-w-2xl">
                                {{ message.user_message }}
                            </div>

                        </div>

                        <div class="flex justify-start">

                            <div class="bg-slate-700 p-4 rounded-2xl max-w-2xl whitespace-pre-wrap">
                                {{ message.ai_response }}
                            </div>

                        </div>

                    {% endfor %}
                {% else %}
                        <div id="empty-state"
                        class="flex flex-col items-center justify-center h-full text-center px-6">

                        <h1 class="text-4xl font-bold text-white mb-4">
                            AI Second Brain
                        </h1>

                        <p class="text-gray-400 max-w-xl mb-8">
                            Your personal AI workspace for ideas, coding, notes and productivity.
                        </p>

                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full max-w-2xl">

                            <button class="prompt-btn bg-zinc-800 hover:bg-zinc-700 p-4 rounded-xl text-left transition">
                                💡 Explain Django authentication flow
                            </button>

                            <button class="prompt-btn bg-zinc-800 hover:bg-zinc-700 p-4 rounded-xl text-left transition">
                                🐍 Help me optimize Python code
                            </button>

                            <button class="prompt-btn bg-zinc-800 hover:bg-zinc-700 p-4 rounded-xl text-left transition">
                                📄 Summarize my meeting notes
                            </button>

                            <button class="prompt-btn bg-zinc-800 hover:bg-zinc-700 p-4 rounded-xl text-left transition">
                                🚀 Suggest AI SaaS project ideas
                            </button>

                        </div>
                    </div>
                {% endif %}

            </div>

            <div class="p-6 border-t border-slate-700">

                <form
                    id="chat-form"
                    class="flex gap-4"
                    onsubmit="return false;"
                >

                    {% csrf_token %}
                    <input
                        type="hidden"
                        id="conversation-id"
                        value="{{ active_conversation.id }}"
                    >
                    <input
                        id="message-input"
                        type="text"
                        placeholder="Ask anything..."
                        class="flex-1 p-4 rounded-xl bg-slate-700 text-white border border-slate-600 outline-none"
                        required
                    >

                    <button
                        type="submit"
                        class="bg-blue-600 hover:bg-blue-700 px-6 rounded-xl font-semibold"
                    >
                        Send
                    </button>

                </form>

            </div>

        {% else %}

            <div class="flex-1 flex items-center justify-center">

                <div class="text-center">

                    <h1 class="text-4xl font-bold mb-4">
                        AI Second Brain
                    </h1>

                    <p class="text-slate-400 mb-6">
                        Start a new conversation
                    </p>

                    <a
                        href="/chat/new/"
                        class="bg-blue-600 hover:bg-blue-700 px-6 py-3 rounded-xl font-semibold"
                    >
                        Create Chat
                    </a>

                </div>

            </div>

        {% endif %}

    </div>

</div>
<div id="rename-modal"
     class="fixed inset-0 bg-black/60 hidden items-center justify-center z-50">

    <div class="bg-zinc-900 p-6 rounded-2xl w-full max-w-md">

        <h2 class="text-xl font-semibold text-white mb-4">
            Rename Conversation
        </h2>

        <input
            type="text"
            id="rename-input"
            class="w-full bg-zinc-800 text-white p-3 rounded-xl outline-none mb-4"
            placeholder="Enter new title"
        >

        <div class="flex justify-end gap-3">

            <button
                id="cancel-rename"
                class="px-4 py-2 rounded-xl bg-zinc-700 hover:bg-zinc-600">
                Cancel
            </button>

            <button
                id="save-rename"
                class="px-4 py-2 rounded-xl bg-blue-600 hover:bg-blue-500">
                Save
            </button>

        </div>
    </div>
</div>
<script>

document.addEventListener('DOMContentLoaded', () => {

    const form = document.getElementById('chat-form');
    
    if (!form) return;
    
    const input = document.getElementById('message-input');
    const chatBox = document.getElementById('chat-box');
    const messageInput = document.getElementById("message-input");
    
    //streaming response for better visuals
    function streamText(element, text, speed = 15) {
        let index = 0;

        function type() {
            if (index < text.length) {
                element.innerHTML += text.charAt(index);

                chatBox.scrollTop = chatBox.scrollHeight;

                index++;
                setTimeout(type, speed);
            }
        }

        type();
    }

    document.querySelectorAll(".prompt-btn").forEach(button => {
        button.addEventListener("click", () => {
            messageInput.value = button.innerText.trim();
            messageInput.focus();
        });
    });

    form.addEventListener('submit', async (e) => {

        e.preventDefault();

        const message = input.value.trim();

        if (!message) return;

        const emptyState = document.getElementById("empty-state");
        if (emptyState) {
            emptyState.style.display = "none";
        }

        // User Message

        chatBox.innerHTML += `
            <div class="flex justify-end">
                <div class="bg-blue-600 p-4 rounded-2xl max-w-2xl">
                    ${message}
                </div>
            </div>
        `;

        input.value = '';

        chatBox.scrollTop = chatBox.scrollHeight;
        
        // Loading Message

        const loadingId = 'loading-message';

        chatBox.innerHTML += `
            <div
                id="${loadingId}"
                class="flex justify-start"
            >
                <div class="bg-slate-700 p-4 rounded-2xl max-w-2xl animate-pulse">
                    AI is thinking...
                </div>
            </div>
        `;

        chatBox.scrollTop = chatBox.scrollHeight;

        // Send Request
        const response = await fetch('/chat/send/', {

            method: 'POST',

            headers: {
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                'Content-Type': 'application/x-www-form-urlencoded',
            },

            body: new URLSearchParams({
                message: message,
                conversation_id: document.getElementById('conversation-id').value
            })

        });
        if (!response.ok) {
            alert('Something went wrong');
            return;
        }
        document.getElementById(loadingId).remove();
        chatBox.scrollTop = chatBox.scrollHeight;
        const data = await response.json();

        //update the chat title
        const titleElement = document.getElementById(
            `conversation-title-${data.conversation_id}`
        );

        if (titleElement) {

            titleElement.textContent = data.title;
        }
        // AI Response
        // below commented code is for displaying AI response at once
        // chatBox.innerHTML += `
        //     <div class="flex justify-start">
        //         <div class="bg-slate-700 p-4 rounded-2xl max-w-2xl whitespace-pre-wrap">
        //             ${data.ai}
        //         </div>
        //     </div>
        // `;

        //for streaming response
        chatBox.innerHTML += `
            <div class="flex justify-start">
                <div id="streaming-message"
                    class="bg-slate-700 p-4 rounded-2xl max-w-2xl whitespace-pre-wrap">
                </div>
            </div>
        `;

        const streamingMessage = document.getElementById("streaming-message");

        streamText(streamingMessage, data.ai);

        chatBox.scrollTop = chatBox.scrollHeight;

    });

});
document.querySelectorAll(".rename-btn").forEach(button => {

    button.addEventListener("click", async () => {

        const conversationId = button.dataset.id;
        const currentTitle = button.dataset.title;

        const modal = document.getElementById("rename-modal");

        const renameInput = document.getElementById("rename-input");

        modal.classList.remove("hidden");
        modal.classList.add("flex");

        renameInput.value = currentTitle;

        document.getElementById("cancel-rename")
        .onclick = () => {

            modal.classList.add("hidden");
            modal.classList.remove("flex");
        };

        document.getElementById("save-rename")
        .onclick = async () => {

            const newTitle = renameInput.value.trim();

            if (!newTitle) return;
            
            const response = await fetch(
                `/chat/rename/${conversationId}/`,
                {
                    method: "POST",

                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": document.getElementById("csrf-token").value,
                    },

                    body: JSON.stringify({
                        title: newTitle
                    }),
                }
            );

            const data = await response.json();

            if (data.success) {

                const titleElement = button.parentElement.parentElement.querySelector(".conversation-title");

                if (titleElement) {
                    titleElement.innerText = data.title;
                }
                modal.classList.add("hidden");
                modal.classList.remove("flex");
            }
        };    
    });
});
</script>

{% endblock %}
